<form method="POST" action="<%= action %>">
    <div class="form-group">
        <label for="name">Game:</label>
        <input type="text" id="name" name="name" class="form-control" value="<%= game ? game.name : '' %>" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary"><%= game ? 'Update' : 'Add' %></button>
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
