<%- include ('partials/header.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Add Session:</h2>
        <%- include ('partials/game-session-form.ejs', { 
                game_id: game_id, games: games, action: '/add-game-session' 
            }) 
        %>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
