<%- include ('partials/header.ejs') %>

<h2>Edit Game</h2>
<% if (game) { %>
	<%- include ('partials/game-form.ejs', { 
		game: game, action: '/edit-game/' + game.id 
	}) 
	%>
<% } else { %>
	<p>Game not found.</p>
<% } %>

<%- include ('partials/footer.ejs') %>
